In [1]:
# 1. Sum of all even numbers in a list
def sum_of_even_numbers(numbers):
    total = 0
    for num in numbers:
        if num % 2 == 0:
            total += num
    return total

# Example
nums = [1, 2, 3, 4, 5, 6]
print(sum_of_even_numbers(nums))

12

In [5]:

# 2. Reverse a string
def reverse_string(string):
    reversed_str = ""
    for char in string:
        reversed_str = char + reversed_str
    return reversed_str

# Example
text = "PhysicsWallah"
print(reverse_string(text))

hallaWscisyhP

In [4]:
#3. Squares of each number in a list
def square_numbers(numbers):
    squared_list = []
    for num in numbers:
        squared_list.append(num ** 2)
    return squared_list

# Example
nums = [1, 2, 3, 4]
print(square_numbers(nums))

[1, 4, 9, 16]

In [6]:
#4. Check if a number is prime (1 to 200)
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Example
primes = [n for n in range(1, 201) if is_prime(n)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [7]:
#5. Iterator class for Fibonacci sequence
class FibonacciIterator:
    def __init__(self, terms):
        self.terms = terms
        self.current, self.next = 0, 1
        self.index = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.index >= self.terms:
            raise StopIteration
        value = self.current
        self.current, self.next = self.next, self.current + self.next
        self.index += 1
        return value

# Example
fib = FibonacciIterator(10)
for num in fib:
    print(num, end=" ")

0 1 1 2 3 5 8 13 21 34

In [8]:
#6. Generator for powers of 2
def powers_of_two(max_exponent):
    for exponent in range(max_exponent + 1):
        yield 2 ** exponent

# Example
for power in powers_of_two(5):
    print(power, end=" ")

1 2 4 8 16 32

In [9]:
#7. File reader generator
def file_line_reader(filename):
    try:
        with open(filename, 'r') as file:
            for line in file:
                yield line.strip()
    except FileNotFoundError:
        print("File not found!")

In [10]:
#8. Sort a list of tuples by the second element
tuples_list = [(1, 3), (4, 1), (2, 5)]
sorted_list = sorted(tuples_list, key=lambda x: x[1])
print(sorted_list)

[(4, 1), (1, 3), (2, 5)]

In [11]:
#9. Convert Celsius to Fahrenheit using map()
def celsius_to_fahrenheit(celsius_list):
    return list(map(lambda c: (c * 9/5) + 32, celsius_list))

# Example
celsius = [0, 20, 30]
print(celsius_to_fahrenheit(celsius))

[32.0, 68.0, 86.0]

In [14]:
#10. Remove vowels using filter()
def remove_vowels(string):
    vowels = "aeiouAEIOU"
    return ''.join(filter(lambda char: char not in vowels, string))

# Example
text = "We all love Python"
print(remove_vowels(text))

W ll lv Pythn

In [15]:
#question 11
# List of orders: Each order has (order_number, price_per_item, quantity)
orders = [
    (1, 15.0, 5),  # Order 1: Price per item is 15.0, quantity is 5
    (2, 20.0, 3),  # Order 2: Price per item is 20.0, quantity is 3
    (3, 8.0, 10),  # Order 3: Price per item is 8.0, quantity is 10
    (4, 50.0, 1)   # Order 4: Price per item is 50.0, quantity is 1
]

# Function to calculate the total for each order
def calculate_order_totals(orders):
    # Create an empty list to store the results
    result = []

    # Go through each order in the list
    for order in orders:
        order_number = order[0]  # Get the order number
        price_per_item = order[1]  # Get the price per item
        quantity = order[2]  # Get the quantity of items

        # Calculate the total price for the order
        total_price = price_per_item * quantity

        # If the total price is less than 100, add 10
        if total_price < 100:
            total_price += 10

        # Add the result as a tuple (order_number, total_price) to the result list
        result.append((order_number, total_price))

    # Return the final result
    return result

# Call the function and store the results
final_totals = calculate_order_totals(orders)

# Print the results
print(final_totals)

[(1, 85.0), (2, 70.0), (3, 90.0), (4, 60.0)]

In [16]:
#question 12
# List of numbers
numbers = [1, 2, 3, 4, 5]

# Use map and lambda to calculate squares
squares = list(map(lambda x: x**2, numbers))

# Print the result
print("Original list:", numbers)
print("Squares:", squares)

Original list: [1, 2, 3, 4, 5]
Squares: [1, 4, 9, 16, 25]