In [ ]:
name = "Surya Janardhanan"
print(name)

In [ ]:
string = "Hello World"
print(len(string))

In [ ]:
string = "Python Programming"
print(string[:3])

In [ ]:
string = "hello"
print(string.upper())

In [ ]:
string = "I like apple"
print(string.replace("apple", "orange"))

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

In [ ]:
letters = ["a", "b", "c", "d"]
print(letters[1])

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

In [ ]:
tup = (10, 20, 30)
print(tup)

In [ ]:
tup = ("apple", "banana", "cherry")
print(tup[0])

In [ ]:
tup = (1, 2, 3, 2, 4, 2)
print(tup.count(2))

In [ ]:
tup = ("dog", "cat", "rabbit")
print(tup.index("cat"))

In [ ]:
tup = ("apple", "orange", "banana")
print("banana" in tup)

In [ ]:
s = {1, 2, 3, 4, 5}
print(s)

In [ ]:
s = {1, 2, 3, 4}
s.add(6)
print(s)

In [ ]:
tup = (10, 20, 30)
print(tup)

In [ ]:
tup = ("apple", "banana", "cherry")
print(tup[0])

In [ ]:
tup = (1, 2, 3, 2, 4, 2)
print(tup.count(2))

In [ ]:
tup = ("dog", "cat", "rabbit")
print(tup.index("cat"))

In [ ]:
tup = ("apple", "orange", "banana")
print("banana" in tup)

In [ ]:
s = {1, 2, 3, 4, 5}
print(s)

In [ ]:
s = {1, 2, 3, 4}
s.add(6)
print(s)